/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #16161a;
  color: #fff;
}

/* Cursor */
.typed-cursor {
    color: rgba(255, 255, 255, .75);
}
